{% extends "base.html" %}

{% block content %}
  <h1>Project List</h1>
  <ul>
    <form method="post" style="display: inline;">
    {% csrf_token %}
    <button type="submit" name="new_project">New Project</button>
    </form>
    {% if projects %}
      {% for project in projects %}
        <li>{{ project.projectName }} 
          <form method="post" style="display: inline;">
          {% csrf_token %}
          <button type="submit" name="use" value="{{ project.id }}">Use</button>
          <button type="submit" name="edit" value="{{ project.id }}">Edit</button>
        </form></li>
      {% endfor %}
    {% endif %}
  </ul>
{% endblock %}